<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
	  <class name="testcases.RegistrationTest">
	    <methods>
	    	<include name="validRegistratinCredentials"/>
	    </methods>
	  </class>
      <class name="testcases.LoginTest">
      	<methods>
     		<include name="verifyLoginValidCredentials"/>
     	
      	</methods>
      </class>
      <class name="testcases.SearchTest">
      	<methods>
      		<include name="verifySearch"/>
      	</methods>
      </class>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
